{% extends 'base.html' %}


{% block title %}Log in | {% endblock %}

{% block content %}

<div class="d-flex align-items-center justify-content-center flex-column">
    <h1 class="logo-main">Log in</h1>
    <form class="d-flex justify-content-center flex-column form-signup" method="post" action=".">{% csrf_token %}
        <label class="justify-content-start label-login">Username:</label>
        <input type="text" name="username" class="signup-input">
        <label class="label-login">Password:</label>
        <input type="password" name="password" class="signup-input">
    
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div style="color: red">
                    <p>{{ error|escape }}</p>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <button class="login-button">Log in</button>
    </form>
</div>


{% endblock %}